<div class="container">
    <div class="row d-flex justify-content-between p-3">
        <p class="h3 width-auto">Employee Details</p>
        <p-button class="width-auto" icon="pi pi-external-link" label="Add Employee" (click)="showDialog()"></p-button>
    </div>
    <div class="row">
        <p-table 
        [value]="employeeList" 
        styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }"  
        [paginator]="true"
        [paginator]="true"
        [rows]="7"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]" >
            <ng-template> 
                <button class="btn btn-secondary">Add Employee</button>    
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Emp.ID</th>
                    <th>Emp.Name</th>
                    <th pSortableColumn="Department">Emp.Department <p-sortIcon field="Department"></p-sortIcon></th>
                    <th>Date of Join</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-emp>
                <tr>
                    <td>{{emp.EmployeeId}}</td>
                    <td>{{emp.EmployeeName}}</td>
                    <td>{{emp.Department}}</td>
                    <td>{{emp.DateOfJoin}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>

        <!-- Dialog Box -->
        <p-dialog header="Add Employee" [style]="{width: '50vw'}" [(visible)]=openModal>
            <div class="row">
                <div class="col-md-6">
                    <span class="p-float-label my-2">
                        <input pInputText id="username" [(ngModel)]="EmployeeName"/>
                        <label for="username" class="px-2">Employee Name</label>
                    </span>
                    <div class="dept-dropdown my-2">
                        <p-dropdown appendTo="body" [options]="departments" [(ngModel)]="Department" optionLabel="DepartmentName" optionValue="DepartmentName" [showClear]="false" placeholder="Select Department"></p-dropdown>
                    </div>
                    <div class="flex-auto my-2">
                        <p-calendar appendTo="body" [(ngModel)]="DateOfJoin" [iconDisplay]="'input'" placeholder="Date of Join" [showIcon]="true" inputId="icondisplay" dataType="string" dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="flex-auto text-center my-2" width="100px" height="100px" [src]="PhotoPath+PhotoFileName"/>
                    <input type="file" class="form-control" (change)="imageUpload($event)">
                </div>
            </div>
            <div>
                <p-button icon="pi pi-check" (click)="addEmployee()"></p-button>
                <!-- <p-button icon="pi pi-times" severity="danger" (click)="closeDialog()"></p-button> -->
            </div>
        </p-dialog>
    </div>
</div>

