<div class="container">
  <!-- Navbar -->
  <nav class="navbar bg-body-tertiary">
    <div class="row w-100">
      <div class="col-md-6">
        <form class="container-fluid justify-content-start">
          <button routerLink="home" class="btn btn-outline-success me-2"type="button">Home</button>
          <button routerLink="department" class="btn btn-outline-primary me-2" type="button">Department</button>
          <button routerLink="employee" class="btn btn-outline-primary me-2" type="button">Employee</button>
        </form>
      </div>
      <div class="col-md-6">
        <p class="text-end h3">Employee Data Application</p>
      </div>
    </div>
  </nav>
</div>



<router-outlet />
