<header>
    <!-- Intro settings -->
    <style>
      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }
    </style>
  
    
    <!-- Background image -->
    <div
      id="intro-example"
      class="p-5 text-center bg-image"
      style="background-image: url('https://mdbootstrap.com/img/new/slides/041.webp');"
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">My Company</h1>
            <h5 class="mb-4">Human resource Management Application</h5>
            <a
              class="btn btn-outline-light btn-lg m-2"
              href="#"
              role="button"
              rel="nofollow"
              target="_blank"
              >Company Profile</a
            >
            <a
              class="btn btn-outline-light btn-lg m-2"
              href="#"
              target="_blank"
              role="button"
              >Staff Login</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>